#python program to display all the header tags from wikipedia.org and make data frame

In [5]:
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in c:\users\premium\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\premium\anaconda3\lib\site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\premium\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.3.1)
Requirement already satisfied: requests in c:\users\premium\anaconda3\lib\site-packages (2.28.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\premium\anaconda3\lib\site-packages (from requests) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\premium\anaconda3\lib\site-packages (from requests) (1.26.11)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\premium\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\premium\anaconda3\lib\site-packages (from requests) (2022.9.14)

In [6]:
from bs4 import BeautifulSoup
import requests

In [3]:
page1=requests.get('https://en.wikipedia.org/wiki/Main_Page')

In [4]:
page1

In [6]:
soup1=BeautifulSoup(page1.content)

In [155]:
#soup1 #### making all the content pages not run since it loads large datas

In [12]:
soup2 = BeautifulSoup(page1.text, 'html.parser')

In [14]:
tags=[]
for i in soup2.find_all(['h1','h2','h3']):
    tags.append(i.text)

In [15]:
tags

['Main Page',
 'Welcome to Wikipedia',
 "From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages']

In [16]:
print(len(tags))

10

In [17]:
#making dataframes
import pandas as pd
df1=pd.DataFrame({'Header_Tags':tags})

In [18]:
df1

                     Header_Tags
0                      Main Page
1           Welcome to Wikipedia
2  From today's featured article
3               Did you know ...
4                    In the news
5                    On this day
6       Today's featured picture
7       Other areas of Wikipedia
8    Wikipedia's sister projects
9            Wikipedia languages

#Write s python program to display list of respected former presidents of India(i.e. Name , Term ofoffice)
from https://presidentofindia.nic.in/former-presidents.htm and make data frame.

In [7]:
page2=requests.get('https://presidentofindia.nic.in/former-presidents')
page2

In [156]:
soup2=BeautifulSoup(page2.content)
#soup2

In [9]:
soup_new = BeautifulSoup(page2.text, 'html.parser')

In [29]:
n1=soup_new.find('div',class_="desc-sec")
n1.text

'\nShri Ram Nath Kovind\n14th President of India\n'

In [31]:
names=[]
for i in soup_new.find_all('div',class_="desc-sec"):
    names.append(i.text)
    names

In [32]:
names

['\nShri Ram Nath Kovind\n14th President of India\n',
 '\nShri Pranab Mukherjee\n13th President of India\n',
 '\nSmt Pratibha Devisingh Patil\n12th President of India\n',
 '\nDR. A.P.J. Abdul Kalam\n11th President of India\n',
 '\nShri K. R. Narayanan\n10th President of India\n',
 '\nDr Shankar Dayal Sharma\n9th  President of India\n',
 '\nShri R Venkataraman\n8th President of India\n',
 '\nGiani Zail Singh\n7th President of India\n',
 '\nShri Neelam Sanjiva Reddy\n6th President of India\n',
 '\nDr. Fakhruddin Ali Ahmed\n5th President of India\n',
 '\nShri Varahagiri Venkata Giri\n4th President of India\n',
 '\nDr. Zakir Husain\n3rd President of India\n',
 '\nDr. Sarvepalli Radhakrishnan\n2nd President of India\n',
 '\nDr. Rajendra Prasad\n1st President of India\n']

In [10]:
terms =soup_new.find('div',class_="wgl-services_text")
terms.text

########## cannot fetch terms of office data properly to find tags and class#####

AttributeError: 'NoneType' object has no attribute 'text'

In [44]:
#term_of_office = soup_new.find('span', class_='terms')
#term_of_office.text

AttributeError: 'NoneType' object has no attribute 'text'

In [53]:
print(len(names))

14

In [54]:
#making dataframes
import pandas as pd
df2=pd.DataFrame({'List_of_president_names':names})

In [55]:
df2

                              List_of_president_names
0   \nShri Ram Nath Kovind\n14th President of India\n
1   \nShri Pranab Mukherjee\n13th President of Ind...
2   \nSmt Pratibha Devisingh Patil\n12th President...
3   \nDR. A.P.J. Abdul Kalam\n11th President of In...
4   \nShri K. R. Narayanan\n10th President of India\n
5   \nDr Shankar Dayal Sharma\n9th  President of I...
6     \nShri R Venkataraman\n8th President of India\n
7        \nGiani Zail Singh\n7th President of India\n
8   \nShri Neelam Sanjiva Reddy\n6th President of ...
9   \nDr. Fakhruddin Ali Ahmed\n5th President of I...
10  \nShri Varahagiri Venkata Giri\n4th President ...
11       \nDr. Zakir Husain\n3rd President of India\n
12  \nDr. Sarvepalli Radhakrishnan\n2nd President ...
13    \nDr. Rajendra Prasad\n1st President of India\n

#### Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame
a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
b) Top 10 ODI Batsmen along with the records of their team andrating.
c) Top 10 ODI bowlers along with the records of their team andrating.

In [39]:
from bs4 import BeautifulSoup
import requests

In [40]:
page3=requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
page3

In [157]:
soupodi=BeautifulSoup(page3.content)
#soupodi

In [42]:
soup_odi1 = BeautifulSoup(page3.text, 'html.parser')

In [51]:

#Scrapping  all the team names
#od=soup_odi1.find('span', class_="u-hide-phablet")--- for 1 team

#od.text

team = soup_odi1.find_all("span",class_="u-hide-phablet")
                          
team_name = []

for i in team:
    team_name.append(i.text)

In [52]:
team_name

['Australia',
 'Pakistan',
 'India',
 'New Zealand',
 'England',
 'South Africa',
 'Bangladesh',
 'Afghanistan',
 'Sri Lanka',
 'West Indies',
 'Zimbabwe',
 'Scotland',
 'Ireland',
 'Netherlands',
 'Nepal',
 'Namibia',
 'United States',
 'Oman',
 'UAE']

In [55]:
match=soup_odi1.find_all('td',class_="rankings-block__banner--matches")

matches = []

for i in match:
    matches.append(i.text)

In [56]:
matches

['23']

In [67]:
od2=soup_odi1.find_all('td',class_="rankings-block__banner--points")
points=[]

for i in od2:
    points.append(i.text)

points

['2,714']

In [69]:
od3=soup_odi1.find('td',class_="rankings-block__banner--rating u-text-right")
Ratings=[]
for i in od3:
    Ratings.append(i.text)
    
Ratings

['\n                            118\n                            ',
 '',
 '\n',
 '',
 '\n']

In [72]:

##Only able to fetch list of teams and 1 team records .
###unable to put in proper position of scrapping other team records

In [65]:
#tried to fetch other team details
mat=soup_odi1.find('td',class_="table-body__cell u-center-text")
mat.text

'20'

In [ ]:
####BATSMAN RANKING WITH ODI BATSMAN RANKING#####

In [12]:
pagebat=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi')
pagebat

In [158]:
soupbat=BeautifulSoup(pagebat.content)
#soupbat

In [29]:
odibat=soup_bat1.find('table',class_="table rankings-card-table")
odibat.text

'\n\n\nPos\nPlayer\nTeam\nRating\n\n\n\n\n\n\n\n                                    2\n                                \n\n\n(0)\n\n\n\n\nRassie van der Dussen\n\n\n\nSA\n\n777\n\n\n\n\n\n                                    3\n                                \n\n\n(0)\n\n\n\n\nFakhar Zaman\n\n\n\nPAK\n\n755\n\n\n\n\n\n                                    4\n                                \n\n\n(0)\n\n\n\n\nImam-ul-Haq\n\n\n\nPAK\n\n745\n\n\n\n\n\n                                    5\n                                \n\n\n(0)\n\n\n\n\nShubman Gill\n\n\n\nIND\n\n738\n\n\n\n\n\n                                    6\n                                \n\n\n(0)\n\n\n\n\nHarry Tector\n\n\n\nIRE\n\n726\n\n\n\n\n\n                                    =\n                                \n\n\n(0)\n\n\n\n\nDavid Warner\n\n\n\nAUS\n\n726\n\n\n\n\n\n                                    8\n                                \n\n\n(0)\n\n\n\n\nVirat Kohli\n\n\n\nIND\n\n719\n\n\n\n\n\n                                    9\n                                \n\n\n(0)\n\n\n\n\nQuinton de Kock\n\n\n\nSA\n\n718\n\n\n\n\n\n                                    10\n                                \n\n\n(0)\n\n\n\n\nRohit Sharma\n\n\n\nIND\n\n707\n\n\n'

In [38]:
######Dont know how to split the datas seperately.after this only we can put it in Dataframe

#import pandas as pd
#df=pd.DataFrame({'List_of_ODI_batsman':odibat})

ODI Womens team Ratings

In [74]:
pagewo=requests.get('https://www.icc-cricket.com/rankings/womens/overview')
pagewo

In [75]:
soupwo=BeautifulSoup(pagewo.content)

In [76]:
soup_wom = BeautifulSoup(pagewo.text, 'html.parser')

In [82]:
wom_t = soup_wom.find_all('div',class_="rankings-block__container rankings-block__container--teams")
                          
wom_team = []

for i in wom_t:
    wom_team.append(i.text)

In [83]:
wom_team

['\n\n\nwodi\nODI Team Rankings\n\n\n\n\nShare\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nURL Copied\n\n\n\n\n\n\n\n                    1\n                \n\nAustralia\n165\n\n\n\n\n\n\n\n\n\nPos\nTeam\nRating\n\n\n\n\n\n                                2\n                            \n\n\n                                England\n                            \n125\n\n\n\n                                3\n                            \n\n\n                                South Africa\n                            \n119\n\n\n\n                                4\n                            \n\n\n                                India\n                            \n101\n\n\n\n                                5\n                            \n\n\n                                New Zealand\n                            \n96\n\n\n\n\nView Full Table\n\n',
 '\n\n\nwt20i\nT20I Team Rankings\n\n\n\n\nShare\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nURL Copied\n\n\n\n\n\n\n\n                    1\n                \n\nAustralia\n303\n\n\n\n\n\n\n\n\n\nPos\nTeam\nRating\n\n\n\n\n\n                                2\n                            \n\n\n                                England\n                            \n282\n\n\n\n                                3\n                            \n\n\n                                New Zealand\n                            \n268\n\n\n\n                                4\n                            \n\n\n                                India\n                            \n265\n\n\n\n                                5\n                            \n\n\n                                South Africa\n                            \n253\n\n\n\n\nView Full Table\n\n']

#Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world and make data frame-
i) Headline
ii) Time
iii) News Link

In [91]:
from bs4 import BeautifulSoup
import requests
pg4=requests.get("https://www.cnbc.com/world/?region=world")

In [92]:
pg4

In [154]:
newsoup=BeautifulSoup(pg4.content)
#newsoup

In [94]:
soupnews=BeautifulSoup(pg4.text,'html.parser')

In [8]:
head=soupnews.find('a',class_="LatestNews-headline")
head.text

'Trump election probe grand jury arrives at court amid indictment speculation'

In [99]:
hn=[]
for i in soupnews.find_all('a',class_="LatestNews-headline"):
    hn.append(i.text)
    hn

In [100]:
hn

['CNBC Daily Open: Could the market bears be right?',
 'Europe markets open lower as investors digest earnings and U.S. rating downgrade',
 'Goldman Sachs names ‘directors’ cut’ conviction list stocks — and adds 2 names ',
 'U.S. House committee flags MSCI, BlackRock for China investments',
 "Ukraine has tested its allies' patience with its military strategy and demands",
 "How to potect your money in the UK's mortgage crisis — as a renter and homeowner",
 "Bank of England's next move divides economists as data paints a mixed picture",
 'Bank of Japan douses hopes that policy tweak marks the end of easy policy',
 "CNBC's top 200 global fintech companies: The complete list",
 "From banking giants to lending up-and-comers — here are the world's top fintechs",
 'Are Saudi Arabia and Turkey the new peace brokers of the Russia-Ukraine war?',
 'One tech fund manager has outperformed for 10 years using a unique strategy',
 "India's rice export ban to hurt millions. These countries will be worst hit",
 'Report: Russian forces carried out grisly war crimes on Kherson prisoners',
 "Pioneer delivers strong quarterly results — but that isn't what shines the brightest",
 "Pinterest CEO on user growth: 'Gen Z is our fastest-growing cohort'",
 'China turns to rural tourism and smart appliances to boost consumption',
 'We expected more from Starbucks, but remain believers in the coffee brand  ',
 "Wall Street looks past AMD's light guide, leading us to make a price target change",
 'CNBC Daily Open: Market bears refuse to concede',
 'Want to play the EV boom? Citi names 4 top battery stocks',
 'Here’s where to invest $100,000 right now, according to the pros',
 "Cramer's Lightning Round: Verizon is 'going nowhere'",
 'Nikkei leads losses in Asia and falls over 2%; Hong Kong also selling off as Fitch downgrades U.S.',
 "Cramer breaks down July's top 15 stocks in the Russell 1000",
 "Uber shares dip after mixed second-quarter results. Here's what the pros say",
 'Stock futures fall after Fitch downgrades U.S. rating, earnings season continues',
 'Fitch downgrades U.S. long-term rating to AA+ from AAA',
 'Stocks making the biggest moves after hours: SolarEdge Technologies and more ',
 'Trump sought to  ‘exploit the violence and chaos’ of Jan. 6 with lies, indictment says']

In [101]:
times=[]
for i in soupnews.find_all('span',class_="LatestNews-wrapper"):
    times.append(i.text)
    times

In [102]:
times

['23 Min Ago',
 '1 Hour Ago',
 '2 Hours Ago',
 '2 Hours Ago',
 '2 Hours Ago',
 '2 Hours Ago',
 '2 Hours Ago',
 '2 Hours Ago',
 '3 Hours Ago',
 '3 Hours Ago',
 '5 Hours Ago',
 '5 Hours Ago',
 '6 Hours Ago',
 '6 Hours Ago',
 '7 Hours Ago',
 '7 Hours Ago',
 '7 Hours Ago',
 '7 Hours Ago',
 '7 Hours Ago',
 '7 Hours Ago',
 '7 Hours Ago',
 '8 Hours Ago',
 '8 Hours Ago',
 '8 Hours Ago',
 '8 Hours Ago',
 '9 Hours Ago',
 '10 Hours Ago',
 '10 Hours Ago',
 '10 Hours Ago',
 '11 Hours Ago']

In [110]:
links=[]

#scrap the url links

for i in soupnews.find_all('a',class_="LatestNews-headline"):
    links.append(i.get('href'))

In [111]:
links

['https://www.cnbc.com/2023/08/02/stock-markets-could-the-market-bears-be-right.html',
 'https://www.cnbc.com/2023/08/02/european-markets-open-to-close-earnings-data-and-news.html',
 'https://www.cnbc.com/2023/08/02/goldman-sachs-names-directors-cut-conviction-list-stocks-and-adds-2-names-.html',
 'https://www.cnbc.com/2023/08/02/us-house-committee-flags-msci-blackrock-for-china-investments.html',
 'https://www.cnbc.com/2023/08/02/ukraines-military-strategy-and-demands-have-tested-allies-patience.html',
 'https://www.cnbc.com/2023/08/02/uk-mortgage-crisis-experts-explain-how-to-protect-your-money.html',
 'https://www.cnbc.com/2023/08/02/bank-of-englands-next-move-divides-economists-as-data-paints-a-mixed-picture.html',
 'https://www.cnbc.com/2023/08/02/boj-ycc-pushback.html',
 'https://www.cnbc.com/2023/08/02/cnbcs-top-200-global-fintech-companies-the-complete-list.html',
 'https://www.cnbc.com/2023/08/02/here-are-the-worlds-top-200-fintechs-cnbc-and-statista.html',
 'https://www.cnbc.com/2023/08/02/saudi-arabia-and-turkey-the-new-peace-brokers-of-russia-ukraine-war.html',
 'https://www.cnbc.com/2023/08/02/tech-fund-manager-outperforms-for-10-years-using-a-unique-strategy.html',
 'https://www.cnbc.com/2023/08/02/indias-rice-export-ban-to-impact-millions-in-asia-africa-middle-east.html',
 'https://www.cnbc.com/2023/08/01/report-russian-forces-carried-out-war-crimes-on-kherson-prisoners.html',
 'https://www.cnbc.com/2023/08/01/pioneer-delivers-strong-quarterly-results-but-that-isnt-what-shines-the-brightest.html',
 'https://www.cnbc.com/2023/08/01/pinterest-ceo-on-user-growth-gen-z-is-our-fastest-growing-cohort.html',
 'https://www.cnbc.com/2023/08/02/china-turns-to-rural-tourism-and-smart-appliances-to-boost-consumption.html',
 'https://www.cnbc.com/2023/08/01/we-expected-more-from-starbucks-but-remain-believers-in-the-brand-.html',
 'https://www.cnbc.com/2023/08/01/wall-street-looks-past-amds-light-guide-leading-us-to-make-a-price-target-change.html',
 'https://www.cnbc.com/2023/08/02/stock-markets-market-bears-refuse-to-concede.html',
 'https://www.cnbc.com/2023/08/02/want-to-play-the-ev-boom-citi-picks-top-battery-stocks-.html',
 'https://www.cnbc.com/2023/08/02/heres-where-to-invest-100000-right-now-according-to-the-pros.html',
 'https://www.cnbc.com/2023/08/01/cramers-lightning-round-verizon-is-going-nowhere.html',
 'https://www.cnbc.com/2023/08/02/asia-markets-poised-to-fall-as-fitch-lowered-us-credit-ratings.html',
 'https://www.cnbc.com/2023/08/01/cramer-breaks-down-julys-top-15-stocks-in-the-russell-1000.html',
 'https://www.cnbc.com/2023/08/01/uber-shares-dip-after-mixed-2q-results-heres-what-the-pros-say.html',
 'https://www.cnbc.com/2023/08/01/stock-market-today-live-updates.html',
 'https://www.cnbc.com/2023/08/01/fitch-downgrades-us-long-term-ratings-to-aa-from-aaa.html',
 'https://www.cnbc.com/2023/08/01/stocks-making-the-biggest-moves-after-hours-sedg-amd-sbux.html',
 'https://www.cnbc.com/2023/08/01/trump-indictment-live-updates-former-president-predicts-charges.html']

In [112]:
print(len(hn),len(times),len(links))
#to check all lenghys are equal to form a DF.

30 30 30

In [113]:
import pandas as pd
df4=pd.DataFrame({'Head_news':hn,'timeofnews':times,'Links':links})
df4

,Head_news,timeofnews,Links
0,CNBC Daily Open: Could the market bears be right?,23 Min Ago,https://www.cnbc.com/2023/08/02/stock-markets-...
1,Europe markets open lower as investors digest ...,1 Hour Ago,https://www.cnbc.com/2023/08/02/european-marke...
2,Goldman Sachs names ‘directors’ cut’ convictio...,2 Hours Ago,https://www.cnbc.com/2023/08/02/goldman-sachs-...
3,"U.S. House committee flags MSCI, BlackRock for...",2 Hours Ago,https://www.cnbc.com/2023/08/02/us-house-commi...
4,Ukraine has tested its allies' patience with i...,2 Hours Ago,https://www.cnbc.com/2023/08/02/ukraines-milit...
5,How to potect your money in the UK's mortgage ...,2 Hours Ago,https://www.cnbc.com/2023/08/02/uk-mortgage-cr...
6,Bank of England's next move divides economists...,2 Hours Ago,https://www.cnbc.com/2023/08/02/bank-of-englan...
7,Bank of Japan douses hopes that policy tweak m...,2 Hours Ago,https://www.cnbc.com/2023/08/02/boj-ycc-pushba...
8,CNBC's top 200 global fintech companies: The c...,3 Hours Ago,https://www.cnbc.com/2023/08/02/cnbcs-top-200-...
9,From banking giants to lending up-and-comers —...,3 Hours Ago,https://www.cnbc.com/2023/08/02/here-are-the-w...
10,Are Saudi Arabia and Turkey the new peace brok...,5 Hours Ago,https://www.cnbc.com/2023/08/02/saudi-arabia-a...
11,One tech fund manager has outperformed for 10 ...,5 Hours Ago,https://www.cnbc.com/2023/08/02/tech-fund-mana...
12,India's rice export ban to hurt millions. Thes...,6 Hours Ago,https://www.cnbc.com/2023/08/02/indias-rice-ex...
13,Report: Russian forces carried out grisly war ...,6 Hours Ago,https://www.cnbc.com/2023/08/01/report-russian...
14,Pioneer delivers strong quarterly results — bu...,7 Hours Ago,https://www.cnbc.com/2023/08/01/pioneer-delive...
15,Pinterest CEO on user growth: 'Gen Z is our fa...,7 Hours Ago,https://www.cnbc.com/2023/08/01/pinterest-ceo-...
16,China turns to rural tourism and smart applian...,7 Hours Ago,https://www.cnbc.com/2023/08/02/china-turns-to...
17,"We expected more from Starbucks, but remain be...",7 Hours Ago,https://www.cnbc.com/2023/08/01/we-expected-mo...
18,"Wall Street looks past AMD's light guide, lead...",7 Hours Ago,https://www.cnbc.com/2023/08/01/wall-street-lo...
19,CNBC Daily Open: Market bears refuse to concede,7 Hours Ago,https://www.cnbc.com/2023/08/02/stock-markets-...
20,Want to play the EV boom? Citi names 4 top bat...,7 Hours Ago,https://www.cnbc.com/2023/08/02/want-to-play-t...
21,"Here’s where to invest $100,000 right now, acc...",8 Hours Ago,https://www.cnbc.com/2023/08/02/heres-where-to...
22,Cramer's Lightning Round: Verizon is 'going no...,8 Hours Ago,https://www.cnbc.com/2023/08/01/cramers-lightn...
23,Nikkei leads losses in Asia and falls over 2%;...,8 Hours Ago,https://www.cnbc.com/2023/08/02/asia-markets-p...
24,Cramer breaks down July's top 15 stocks in the...,8 Hours Ago,https://www.cnbc.com/2023/08/01/cramer-breaks-...
25,Uber shares dip after mixed second-quarter res...,9 Hours Ago,https://www.cnbc.com/2023/08/01/uber-shares-di...
26,Stock futures fall after Fitch downgrades U.S....,10 Hours Ago,https://www.cnbc.com/2023/08/01/stock-market-t...
27,Fitch downgrades U.S. long-term rating to AA+ ...,10 Hours Ago,https://www.cnbc.com/2023/08/01/fitch-downgrad...
28,Stocks making the biggest moves after hours: S...,10 Hours Ago,https://www.cnbc.com/2023/08/01/stocks-making-...
29,Trump sought to ‘exploit the violence and cha...,11 Hours Ago,https://www.cnbc.com/2023/08/01/trump-indictme...

# Write a python program to scrape the details of most downloaded articles from AI in last 90
days.https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles
Scrape below mentioned details and make data framei) Paper Title
ii) Authors
iii) Published Date
iv) Paper URL

In [32]:
from bs4 import BeautifulSoup
import requests
pg5=requests.get("https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles")

In [33]:
pg5

In [34]:
soupart=BeautifulSoup(pg5.text,'html.parser')

In [36]:
tit=soupart.find('h2', class_="sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg")
tit.text

'Reward is enough'

In [37]:
title=[]
for i in soupart.find_all('h2', class_="sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg"):
    title.append(i.text)
    title

In [38]:
title

['Reward is enough',
 'Explanation in artificial intelligence: Insights from the social sciences',
 'Creativity and artificial intelligence',
 'Conflict-based search for optimal multi-agent pathfinding',
 'Knowledge graphs as tools for explainable machine learning: A survey',
 'Law and logic: A review from an argumentation perspective',
 'Between MDPs and semi-MDPs: A framework for temporal abstraction in reinforcement learning',
 'Explaining individual predictions when features are dependent: More accurate approximations to Shapley values',
 'Multiple object tracking: A literature review',
 'A survey of inverse reinforcement learning: Challenges, methods and progress',
 'Evaluating XAI: A comparison of rule-based and example-based explanations',
 'Explainable AI tools for legal reasoning about cases: A study on the European Court of Human Rights',
 'Hard choices in artificial intelligence',
 'Assessing the communication gap between AI models and healthcare professionals: Explainability, utility and trust in AI-driven clinical decision-making',
 'Explaining black-box classifiers using post-hoc explanations-by-example: The effect of explanations and error-rates in XAI user studies',
 'The Hanabi challenge: A new frontier for AI research',
 'Wrappers for feature subset selection',
 'Artificial cognition for social human–robot interaction: An implementation',
 'A review of possible effects of cognitive biases on interpretation of rule-based machine learning models',
 'The multifaceted impact of Ada Lovelace in the digital age',
 'Robot ethics: Mapping the issues for a mechanized world',
 'Reward (Mis)design for autonomous driving',
 'Planning and acting in partially observable stochastic domains',
 'What do we want from Explainable Artificial Intelligence (XAI)? – A stakeholder perspective on XAI and a conceptual model guiding interdisciplinary XAI research']

In [39]:
aut=soupart.find('span',class_="sc-1w3fpd7-0 dnCnAO")
aut.text

'David Silver, Satinder Singh, Doina Precup, Richard S. Sutton '

In [40]:
author=[]
for i in soupart.find_all('span',class_="sc-1w3fpd7-0 dnCnAO"):
    author.append(i.text)
    author

In [41]:
author

['David Silver, Satinder Singh, Doina Precup, Richard S. Sutton ',
 'Tim Miller ',
 'Margaret A. Boden ',
 'Guni Sharon, Roni Stern, Ariel Felner, Nathan R. Sturtevant ',
 'Ilaria Tiddi, Stefan Schlobach ',
 'Henry Prakken, Giovanni Sartor ',
 'Richard S. Sutton, Doina Precup, Satinder Singh ',
 'Kjersti Aas, Martin Jullum, Anders Løland ',
 'Wenhan Luo, Junliang Xing and 4 more',
 'Saurabh Arora, Prashant Doshi ',
 'Jasper van der Waa, Elisabeth Nieuwburg, Anita Cremers, Mark Neerincx ',
 'Joe Collenette, Katie Atkinson, Trevor Bench-Capon ',
 'Roel Dobbe, Thomas Krendl Gilbert, Yonatan Mintz ',
 'Oskar Wysocki, Jessica Katharine Davies and 5 more',
 'Eoin M. Kenny, Courtney Ford, Molly Quinn, Mark T. Keane ',
 'Nolan Bard, Jakob N. Foerster and 13 more',
 'Ron Kohavi, George H. John ',
 'Séverin Lemaignan, Mathieu Warnier and 3 more',
 'Tomáš Kliegr, Štěpán Bahník, Johannes Fürnkranz ',
 'Luigia Carlucci Aiello ',
 'Patrick Lin, Keith Abney, George Bekey ',
 'W. Bradley Knox, Alessandro Allievi and 3 more',
 'Leslie Pack Kaelbling, Michael L. Littman, Anthony R. Cassandra ',
 'Markus Langer, Daniel Oster and 6 more']

In [42]:
pd=soupart.find('span',class_="sc-1thf9ly-2 dvggWt")
pd.text

'October 2021'

In [43]:
pubdate=[]
for i in soupart.find_all('span',class_="sc-1thf9ly-2 dvggWt"):
    pubdate.append(i.text)
    pubdate

In [44]:
pubdate

['October 2021',
 'February 2019',
 'August 1998',
 'February 2015',
 'January 2022',
 'October 2015',
 'August 1999',
 'September 2021',
 'April 2021',
 'August 2021',
 'February 2021',
 'April 2023',
 'November 2021',
 'March 2023',
 'May 2021',
 'March 2020',
 'December 1997',
 'June 2017',
 'June 2021',
 'June 2016',
 'April 2011',
 'March 2023',
 'May 1998',
 'July 2021']

In [46]:
print(len(title),len(author),len(pubdate))

24 24 24

In [47]:
import pandas as pd
df5=pd.DataFrame({'Paper_tiltle':title,'Authors':author,'publised_date':pubdate})
df5

,Paper_tiltle,Authors,publised_date
0,Reward is enough,"David Silver, Satinder Singh, Doina Precup, Ri...",October 2021
1,Explanation in artificial intelligence: Insigh...,Tim Miller,February 2019
2,Creativity and artificial intelligence,Margaret A. Boden,August 1998
3,Conflict-based search for optimal multi-agent ...,"Guni Sharon, Roni Stern, Ariel Felner, Nathan ...",February 2015
4,Knowledge graphs as tools for explainable mach...,"Ilaria Tiddi, Stefan Schlobach",January 2022
5,Law and logic: A review from an argumentation ...,"Henry Prakken, Giovanni Sartor",October 2015
6,Between MDPs and semi-MDPs: A framework for te...,"Richard S. Sutton, Doina Precup, Satinder Singh",August 1999
7,Explaining individual predictions when feature...,"Kjersti Aas, Martin Jullum, Anders Løland",September 2021
8,Multiple object tracking: A literature review,"Wenhan Luo, Junliang Xing and 4 more",April 2021
9,A survey of inverse reinforcement learning: Ch...,"Saurabh Arora, Prashant Doshi",August 2021
10,Evaluating XAI: A comparison of rule-based and...,"Jasper van der Waa, Elisabeth Nieuwburg, Anita...",February 2021
11,Explainable AI tools for legal reasoning about...,"Joe Collenette, Katie Atkinson, Trevor Bench-C...",April 2023
12,Hard choices in artificial intelligence,"Roel Dobbe, Thomas Krendl Gilbert, Yonatan Mintz",November 2021
13,Assessing the communication gap between AI mod...,"Oskar Wysocki, Jessica Katharine Davies and 5 ...",March 2023
14,Explaining black-box classifiers using post-ho...,"Eoin M. Kenny, Courtney Ford, Molly Quinn, Mar...",May 2021
15,The Hanabi challenge: A new frontier for AI re...,"Nolan Bard, Jakob N. Foerster and 13 more",March 2020
16,Wrappers for feature subset selection,"Ron Kohavi, George H. John",December 1997
17,Artificial cognition for social human–robot in...,"Séverin Lemaignan, Mathieu Warnier and 3 more",June 2017
18,A review of possible effects of cognitive bias...,"Tomáš Kliegr, Štěpán Bahník, Johannes Fürnkranz",June 2021
19,The multifaceted impact of Ada Lovelace in the...,Luigia Carlucci Aiello,June 2016
20,Robot ethics: Mapping the issues for a mechani...,"Patrick Lin, Keith Abney, George Bekey",April 2011
21,Reward (Mis)design for autonomous driving,"W. Bradley Knox, Alessandro Allievi and 3 more",March 2023
22,Planning and acting in partially observable st...,"Leslie Pack Kaelbling, Michael L. Littman, Ant...",May 1998
23,What do we want from Explainable Artificial In...,"Markus Langer, Daniel Oster and 6 more",July 2021

# Write a python program to scrape mentioned details from dineout.co.in and make data frame-
i) Restaurant name
ii) Cuisine
iii) Location
iv) Ratings
v) Image URL

In [114]:
from bs4 import BeautifulSoup
import requests

In [115]:
pg6=requests.get("https://www.dineout.co.in/delhi-restaurants?search_str=delhi")

In [116]:
pg6

In [1]:
soup_1=BeautifulSoup(pg6.content)
#soup_1

In [118]:
soupdine=BeautifulSoup(pg6.text,'html.parser')

In [145]:
###to scrap the restarent names
rnames=[]

for i in soupdine.find_all('div',class_="restnt-info cursor"):
    rnames.append(i.text.split(',')[0])

In [146]:
rnames

['TamashaConnaught Place',
 'LocalScindia House',
 'Connaught Club HouseConnaught Place',
 'Cafe Delhi HeightsJanpath',
 'Ministry Of BeerM-Block',
 'Station BarF-Block',
 'Openhouse CafeConnaught Place',
 'Dhaba Estd 1986 DelhiConnaught Place',
 'My Bar SquareConnaught Place',
 'Warehouse CafeConnaught Place',
 'The G.T. RoadM-Block',
 'The Junkyard CafeConnaught Place',
 'Unplugged CourtyardConnaught Place',
 "Berco'sConnaught Place",
 'QBAConnaught Place',
 '38 BarracksM-Block',
 'SandozConnaught Place',
 'DasaprakashConnaught Place',
 'Ardor 2.1 Restaurant and LoungeConnaught Place',
 'ChidoConnaught Place',
 'Lord of the DrinksConnaught Place']

In [137]:
#scrapping to check the cusine 
cus=soupdine.find('span',class_="double-line-ellipsis")
cus.text.split('|')[1]

' Continental, Asian, Italian, North Indian'

In [139]:
#scraping to chk all rest cusines
cusine=[]
for i in soupdine.find_all('span',class_="double-line-ellipsis"):
    cusine.append(i.text.split('|')[1])
    cusine

In [140]:
cusine

[' Continental, Asian, Italian, North Indian',
 ' North Indian, Asian, Continental',
 ' North Indian, Continental, Asian, Chinese',
 ' Continental, North Indian, Beverages, Chinese, Italian',
 ' North Indian, Continental, American, Asian',
 ' Italian, Chinese, North Indian, Fast Food',
 ' North Indian, Asian, Italian',
 ' North Indian',
 ' Finger Food, Chinese, Continental, Italian',
 ' North Indian, Chinese, Italian',
 ' North Indian',
 ' North Indian, Continental, Chinese, Fast Food',
 ' North Indian, Italian, Chinese, Turkish, Continental',
 ' Chinese, Thai',
 ' North Indian, Continental, Italian',
 ' North Indian, Chinese, Continental',
 ' North Indian, Continental',
 ' North Indian, South Indian, Beverages, Chinese, Continental',
 ' North Indian, Chinese, Italian, Continental',
 ' North Indian, Italian, Continental, Asian, Finger Food',
 ' Chinese, North Indian, Fast Food']

In [141]:
#scrap to find ratings
rating=[]

for i in soupdine.find_all('div',class_="restnt-rating rating-4"):
    rating.append(i.text)

In [142]:
rating

['4.2',
 '4',
 '4.2',
 '4.3',
 '4',
 '4',
 '4.1',
 '4',
 '3.9',
 '4.1',
 '4.3',
 '4.1',
 '4',
 '4.3',
 '4.2',
 '4.3',
 '4',
 '4.2',
 '4.1',
 '4.2',
 '4.2']

In [147]:
#scrap to find images
image=[]

for i in soupdine.find_all('img',class_="no-img"):
    image.append(i.get('data-src'))

In [148]:
image

['https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/a/j/p20996-145631488756cd9a0796608.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/b/t/p27452-15020105505986dcb6d147f.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/7/c/z/p77626-15833232035e5f98437554f.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/m/h/p35926-15233509655acc7db5718fb.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/a/d/p32381-1495943585592a49a166fe7.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/9/i/b/p971-165909823762e3d47db6d56.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/1/j/y/p19748-16474299906231c96621c58.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/9/u/b/p919-150182627559840ce33f574.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/1/m/i/p12709-15681189525d7798a8c5aa5.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/h/o/p420-15241335515ad86eaf373ce.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/m/u/p31393-15972091555f337a43bb961.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/s/y/p20298-1664186585633178d99f1db.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/e/y/p20941-168915645564ae7b673b872.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/t/u/p237-16468990666229af7a72b08.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/e/e/p29906-16183962346076c44ac433d.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/y/j/p21171-166019927162f4a167b10af.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/e/u/p80493-16064603115fc0a397716de.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/9/x/t/p98423-1634644819616eb353a1181.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/y/m/p221-16455303976214cd1d7a086.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/9/q/b/p97184-168717900964904f01ac16b.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/1/o/g/p19975-1649416421625018e5d4198.jpg?tr=tr:n-medium']

In [150]:
location=[]

for i in soupdine.find_all('div',class_='restnt-loc ellipsis'):
                           location.append(i.text)

In [151]:
location

['Connaught Place, Central Delhi',
 'Scindia House,Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'Janpath, Central Delhi',
 'M-Block,Connaught Place, Central Delhi',
 'F-Block,Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'M-Block,Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'M-Block,Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi']

In [152]:
#make dataframes 
import pandas as pd
df=pd.DataFrame({'Restaurant Name':rnames,'Cuisine':cusine,'Location':location,'Rating':rating,'Image_url': image})

In [153]:
df

,Restaurant Name,Cuisine,Location,Rating,Image_url
0,TamashaConnaught Place,"Continental, Asian, Italian, North Indian","Connaught Place, Central Delhi",4.2,https://im1.dineout.co.in/images/uploads/resta...
1,LocalScindia House,"North Indian, Asian, Continental","Scindia House,Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
2,Connaught Club HouseConnaught Place,"North Indian, Continental, Asian, Chinese","Connaught Place, Central Delhi",4.2,https://im1.dineout.co.in/images/uploads/resta...
3,Cafe Delhi HeightsJanpath,"Continental, North Indian, Beverages, Chinese...","Janpath, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
4,Ministry Of BeerM-Block,"North Indian, Continental, American, Asian","M-Block,Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
5,Station BarF-Block,"Italian, Chinese, North Indian, Fast Food","F-Block,Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
6,Openhouse CafeConnaught Place,"North Indian, Asian, Italian","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
7,Dhaba Estd 1986 DelhiConnaught Place,North Indian,"Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
8,My Bar SquareConnaught Place,"Finger Food, Chinese, Continental, Italian","Connaught Place, Central Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
9,Warehouse CafeConnaught Place,"North Indian, Chinese, Italian","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
10,The G.T. RoadM-Block,North Indian,"M-Block,Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
11,The Junkyard CafeConnaught Place,"North Indian, Continental, Chinese, Fast Food","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
12,Unplugged CourtyardConnaught Place,"North Indian, Italian, Chinese, Turkish, Cont...","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
13,Berco'sConnaught Place,"Chinese, Thai","Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
14,QBAConnaught Place,"North Indian, Continental, Italian","Connaught Place, Central Delhi",4.2,https://im1.dineout.co.in/images/uploads/resta...
15,38 BarracksM-Block,"North Indian, Chinese, Continental","M-Block,Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
16,SandozConnaught Place,"North Indian, Continental","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
17,DasaprakashConnaught Place,"North Indian, South Indian, Beverages, Chines...","Connaught Place, Central Delhi",4.2,https://im1.dineout.co.in/images/uploads/resta...
18,Ardor 2.1 Restaurant and LoungeConnaught Place,"North Indian, Chinese, Italian, Continental","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
19,ChidoConnaught Place,"North Indian, Italian, Continental, Asian, Fi...","Connaught Place, Central Delhi",4.2,https://im1.dineout.co.in/images/uploads/resta...
20,Lord of the DrinksConnaught Place,"Chinese, North Indian, Fast Food","Connaught Place, Central Delhi",4.2,https://im1.dineout.co.in/images/uploads/resta...