In [30]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\premium\anaconda3\lib\site-packages (4.11.2)
Requirement already satisfied: trio~=0.17 in c:\users\premium\anaconda3\lib\site-packages (from selenium) (0.22.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\premium\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\premium\anaconda3\lib\site-packages (from selenium) (0.10.3)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\premium\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: outcome in c:\users\premium\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\premium\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sortedcontainers in c:\users\premium\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\premium\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sniffio in c:\users\premium\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\premium\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\premium\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.2)
Requirement already satisfied: wsproto>=0.14 in c:\users\premium\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\premium\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\premium\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\premium\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [31]:
!pip install webdriver-manager

Requirement already satisfied: webdriver-manager in c:\users\premium\anaconda3\lib\site-packages (4.0.0)
Requirement already satisfied: packaging in c:\users\premium\anaconda3\lib\site-packages (from webdriver-manager) (21.3)
Requirement already satisfied: requests in c:\users\premium\anaconda3\lib\site-packages (from webdriver-manager) (2.28.1)
Requirement already satisfied: python-dotenv in c:\users\premium\anaconda3\lib\site-packages (from webdriver-manager) (1.0.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\premium\anaconda3\lib\site-packages (from packaging->webdriver-manager) (3.0.9)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\premium\anaconda3\lib\site-packages (from requests->webdriver-manager) (1.26.11)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\premium\anaconda3\lib\site-packages (from requests->webdriver-manager) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\premium\anaconda3\lib\site-packages (from requests->webdriver-manager) (2022.9.14)
Requirement already satisfied: idna<4,>=2.5 in c:\users\premium\anaconda3\lib\site-packages (from requests->webdriver-manager) (3.3)

In [32]:
#Importing the required libraries 

import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By


from selenium.webdriver.chrome.service import Service

import time

In [4]:
#connecting to webdriver
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))

In [140]:
#connecting to webdriver
#driver=webdriver.chrome(r"C:\Users\Premium\Downloads\chromedriver-win64 (1).zip\chromrdriver.exe")

# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. 
You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results youget.
5. Finally create a dataframe of the scraped data.

In [17]:
#connecting to website
driver.get("https://www.naukri.com/")

In [18]:
#entering designation and location
desgn=driver.find_element(By.CLASS_NAME,"suggestor-input ")
desgn.send_keys("Data Analyst")

In [19]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys("Bangalore")

In [20]:
#clicking the search button
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [40]:
#scraping the 10 job results in the page
title=[]
company_name=[]
experience=[]
salary=[]
location=[]

In [41]:
#scraping company names
company=driver.find_elements(By.XPATH,'//div[@class="companyInfo subheading"]')
for i in company[0:10]:
    company_name.append(i.text)

In [42]:
company_name

['Blooprint Ecom Consulting Service',
 'Arbeit Associates',
 'Mensa Brand Technologies\n2.9\n33 Reviews',
 'Resideo\n3.9\n47 Reviews',
 'ADI Global Distribution\n4.1\n15 Reviews',
 'London Stock Exchange Group\n4.1\n207 Reviews',
 'Terragig Llp',
 'Wipro\n3.9\n29032 Reviews',
 'Volvo Group\n4.2\n527 Reviews',
 'Razorpay\n3.8\n221 Reviews']

In [43]:
#scraping title
tit=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in tit[0:10]:
    title.append(i.text)

In [44]:
title

['Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'IBP Data Analyst',
 'IBP Data Analyst',
 'Data Analyst - Control Services Team',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst (Contractual)']

In [45]:
#scraping experience
exp=driver.find_elements(By.XPATH,'//span[@ class="ellipsis fleft expwdth"]')
for i in exp[0:10]:
    experience.append(i.text)

In [46]:
#scrapping salary
sal=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft "]')
for i in sal[0:10]:
    salary.append(i.text)

In [47]:
salary

['3-4 Lacs PA',
 '10-16 Lacs PA',
 '6-9 Lacs PA',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed']

In [48]:
#Scraping location
loc=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in loc[0:10]:
    location.append(i.text)

In [49]:
location

['Bangalore/Bengaluru',
 'Hybrid - Bangalore/ Bengaluru, Karnataka, Gurgaon/ Gurugram, Haryana',
 'Bangalore/ Bengaluru, Karnataka',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Remote',
 'Hybrid - Bangalore/Bengaluru, Kolkata, Hyderabad/Secunderabad, Pune, Jaipur, Rajasthan, Delhi / NCR',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [50]:
print(len(title),len(company_name),len(experience),len(salary),len(location))

10 10 10 10 10

In [51]:
import pandas as pd
jobdata=pd.DataFrame({'Title':title,'Company':company_name,'Experience':experience,'Salary':salary,'location':location})
jobdata

,Title,Company,Experience,Salary,location
0,Data Analyst,Blooprint Ecom Consulting Service,0-1 Yrs,3-4 Lacs PA,Bangalore/Bengaluru
1,Data Analyst,Arbeit Associates,3-7 Yrs,10-16 Lacs PA,"Hybrid - Bangalore/ Bengaluru, Karnataka, Gurg..."
2,Data Analyst,Mensa Brand Technologies\n2.9\n33 Reviews,1-2 Yrs,6-9 Lacs PA,"Bangalore/ Bengaluru, Karnataka"
3,IBP Data Analyst,Resideo\n3.9\n47 Reviews,2-5 Yrs,Not disclosed,Bangalore/Bengaluru
4,IBP Data Analyst,ADI Global Distribution\n4.1\n15 Reviews,2-5 Yrs,Not disclosed,Bangalore/Bengaluru
5,Data Analyst - Control Services Team,London Stock Exchange Group\n4.1\n207 Reviews,4-7 Yrs,Not disclosed,Bangalore/Bengaluru
6,Data Analyst,Terragig Llp,2-3 Yrs,Not disclosed,Remote
7,Data Analyst,Wipro\n3.9\n29032 Reviews,4-8 Yrs,Not disclosed,"Hybrid - Bangalore/Bengaluru, Kolkata, Hyderab..."
8,Data Analyst,Volvo Group\n4.2\n527 Reviews,1-6 Yrs,Not disclosed,Bangalore/Bengaluru
9,Data Analyst (Contractual),Razorpay\n3.8\n221 Reviews,1-3 Yrs,Not disclosed,Bangalore/Bengaluru

# Q2:Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. 
You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results youget.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [5]:
#connecting to website
driver.get("https://www.naukri.com/")

In [6]:
#entering designation and location
desgn1=driver.find_element(By.CLASS_NAME,"suggestor-input ")
desgn1.send_keys("Data Scientist")

In [7]:
location1=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location1.send_keys("Bangalore")

In [8]:
#clicking the search button
search1=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search1.click()

In [9]:
#scraping the 10 job results in the page for title comp.name and location and creating a list
title1=[]
company_name1=[]
location_1=[]

In [22]:
company=driver.find_elements(By.XPATH,'//div[@class="companyInfo subheading"]')
for i in company[0:10]:
    company_name1.append(i.text)
    
    company_name1

In [48]:
company_name1[0:10]

['Accenture\n4.1\n39001 Reviews',
 'PwC\n3.7\n5626 Reviews',
 'Accenture\n4.1\n39001 Reviews',
 'PwC\n3.7\n5626 Reviews',
 'Visa Inc\n4.3\n13 Reviews',
 'Sophos\n3.8\n146 Reviews',
 'Sophos\n3.8\n146 Reviews',
 'TRH Consultancy Services',
 'The It Mind Services\n3.4\n6 Reviews',
 'Visa Inc\n4.3\n13 Reviews']

In [14]:
tit=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in tit:
    if i.text is None:
        title1.append('No title')
    else:
        title1.append(i.text)
        title1[:10]

In [40]:
title1[0:10]

['Data Scientist - Senior Associate',
 'Data Science Specialist',
 'Data Scientist',
 'Staff Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Data Science Developer',
 'Data Scientist',
 'Manager Data Scientist']

In [34]:
loc1=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in loc1[0:10]:
    location_1.append(i.text)
    location_1

In [47]:
location_1[0:10]

['Bangalore/Bengaluru, Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai',
 'Bangalore/Bengaluru, Mumbai, Hyderabad/Secunderabad',
 'Bangalore/Bengaluru, Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai',
 'Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Kolkata, Mumbai, New Delhi, Hyderabad/Secunderabad, Pune, Chennai',
 'Bangalore/Bengaluru, Kolkata, Mumbai, New Delhi, Hyderabad/Secunderabad, Pune, Chennai',
 'Bangalore/Bengaluru, Noida, Kochi/Cochin, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Coimbatore, Delhi / NCR',
 'Bangalore/Bengaluru, Kolkata, Mumbai, Hyderabad/Secunderabad, New Delhi, Pune, Chennai',
 'Bangalore/Bengaluru']

In [46]:
print(len(title1[0:10]),len(company_name1[0:10]),len(location_1[0:10]))

10 10 10

In [45]:
#creating a jobdata dataframe
import pandas as pd
jobdata1=pd.DataFrame({'Title':title1[0:10],'Company':company_name1[0:10],'location':location_1[0:10]})
jobdata1

,Title,Company,location
0,Analystics & Modeling Specialist,Accenture\n4.1\n39001 Reviews,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba..."
1,Data Scientist - Senior Associate,PwC\n3.7\n5626 Reviews,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde..."
2,Data Science Specialist,Accenture\n4.1\n39001 Reviews,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba..."
3,Data Scientist,PwC\n3.7\n5626 Reviews,"Bangalore/Bengaluru, Mumbai (All Areas)"
4,Staff Data Scientist,Visa Inc\n4.3\n13 Reviews,Bangalore/Bengaluru
5,Senior Data Scientist,Sophos\n3.8\n146 Reviews,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh..."
6,Senior Data Scientist,Sophos\n3.8\n146 Reviews,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh..."
7,Data Science Developer,TRH Consultancy Services,"Bangalore/Bengaluru, Noida, Kochi/Cochin, Mumb..."
8,Data Scientist,The It Mind Services\n3.4\n6 Reviews,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba..."
9,Manager Data Scientist,Visa Inc\n4.3\n13 Reviews,Bangalore/Bengaluru

# Q3.You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get thewebpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the searchbutton.
4. Then apply the location filter and salary filter by checking the respectiveboxes
5. Then scrape the data for the first 10 jobs results youget.
6. Finally create a dataframe of the scrapeddata.
Note: All of the above steps have to be done in code. No step is to be done manually

In [86]:
#Importing the required libraries 

import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By


from selenium.webdriver.chrome.service import Service

import time

In [56]:
#connecting to website
driver.get("https://www.naukri.com/")

#entering designation 
desgn2=driver.find_element(By.CLASS_NAME,"suggestor-input ")
desgn2.send_keys("Data Scientist")

In [57]:
#clicking the search button
search2=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search2.click()

In [63]:
#scraping the 10 job results in the page
title_new=[]
company_name_new=[]
experience_new=[]
salary_new=[]
location_new=[]

In [66]:
#scraping the filtered 10 job results with job title comp name salay location exp

#scraping companyname
company=driver.find_elements(By.XPATH,'//div[@class="companyInfo subheading"]')
for i in company[0:10]:
    company_name_new.append(i.text)
    
#scraping title
tit=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in tit[0:10]:
    title_new.append(i.text)
    
#scrapping salary
sal=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft "]')
for i in sal[0:10]:
    salary_new.append(i.text)
    
#Scraping location
loc=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in loc[0:10]:
    location_new.append(i.text)
    

    #scraping experience
exp=driver.find_elements(By.XPATH,'//span[@ class="ellipsis fleft expwdth"]')
for i in exp[0:10]:
    experience_new.append(i.text)

In [73]:
company_name_new[0:10]

['Analytos',
 'Blackbuck\n3.9\n1694 Reviews',
 'Analytos',
 'Thescholar\n3.0\n4 Reviews',
 'Times Internet\n3.9\n468 Reviews',
 'Adidas\n4.1\n392 Reviews',
 'Infogain\n3.6\n734 Reviews',
 'EXL\n3.8\n4915 Reviews',
 'Grok',
 'Gartner\n4.1\n202 Reviews']

In [72]:
location_new[0:10]

['Kolkata, Mumbai, New Delhi, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Kolkata, Mumbai, New Delhi, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, New Delhi, Pune, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Noida',
 'Gurgaon/Gurugram, United States (USA), Bulgaria',
 'Remote',
 'Delhi / NCR, Noida, Uttar Pradesh, Gurgaon/ Gurugram, Haryana',
 'Hybrid - Delhi / NCR',
 'Gurgaon/Gurugram']

In [71]:
salary_new[0:10]

['Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 '5-14 Lacs PA',
 'Not disclosed',
 'Not disclosed']

In [70]:
experience_new[0:10]

['0-2 Yrs',
 '3-7 Yrs',
 '2-4 Yrs',
 '3-8 Yrs',
 '3-8 Yrs',
 '1-6 Yrs',
 '4-9 Yrs',
 '2-5 Yrs',
 '3-6 Yrs',
 '2-4 Yrs']

In [69]:
title_new[0:10]

['Junior Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Python and ML Trainer',
 'Data Scientist',
 'Junior Data Scientist',
 'Hiring For Data Scientist',
 'Urgent Hiring -Data Scientist -(SQL, Python, Pyspark ) , Noida',
 'Data Scientist',
 'Associate Data Scientist - ML & NLP']

In [75]:
print(len(company_name_new[0:10]),len(salary_new[0:10]),len(title_new[0:10]),len(experience_new[0:10]),len(location_new[0:10]))

10 10 10 10 10

In [76]:
#making dataframes

import pandas as pd
jobdata_new=pd.DataFrame({'Title':title_new[0:10],'Company':company_name_new[0:10],'Experience':experience_new[0:10],'Salary':salary_new[0:10],'location':location_new[0:10]})
jobdata_new

,Title,Company,Experience,Salary,location
0,Junior Data Scientist,Analytos,0-2 Yrs,Not disclosed,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder..."
1,Data Scientist,Blackbuck\n3.9\n1694 Reviews,3-7 Yrs,Not disclosed,"Gurgaon/Gurugram, Bangalore/Bengaluru"
2,Data Scientist,Analytos,2-4 Yrs,Not disclosed,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder..."
3,Python and ML Trainer,Thescholar\n3.0\n4 Reviews,3-8 Yrs,Not disclosed,"Hyderabad/Secunderabad, New Delhi, Pune, Gurga..."
4,Data Scientist,Times Internet\n3.9\n468 Reviews,3-8 Yrs,Not disclosed,Noida
5,Junior Data Scientist,Adidas\n4.1\n392 Reviews,1-6 Yrs,Not disclosed,"Gurgaon/Gurugram, United States (USA), Bulgaria"
6,Hiring For Data Scientist,Infogain\n3.6\n734 Reviews,4-9 Yrs,Not disclosed,Remote
7,"Urgent Hiring -Data Scientist -(SQL, Python, P...",EXL\n3.8\n4915 Reviews,2-5 Yrs,5-14 Lacs PA,"Delhi / NCR, Noida, Uttar Pradesh, Gurgaon/ Gu..."
8,Data Scientist,Grok,3-6 Yrs,Not disclosed,Hybrid - Delhi / NCR
9,Associate Data Scientist - ML & NLP,Gartner\n4.1\n202 Reviews,2-4 Yrs,Not disclosed,Gurgaon/Gurugram

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. ProductDescription
3. Price

In [81]:
#connecting to website
driver.get("https://www.flipkart.com/")

In [82]:
#searching for the sunglasses 
glass=driver.find_element(By.CLASS_NAME,"_3704LK")
glass.send_keys("sunglasses")

In [84]:
#clicking on search button

searchflip=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
searchflip.click()

In [93]:
#scraping brand names,product description,price and discounts from webresults

##creating empty list

Brand_name=[]
Prod_desc=[]
Price=[]
Discount=[]


#scraping datas from all 3 pages 

for i in range(3):
    br_name=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    pr_desc=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
    price =driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
    discount=driver.find_elements(By.XPATH,"//div[@class='_3Ay6Sb']")
    
    for id1 in br_name:
        Brand_name.append(id1.text)
    Brand_name[:100]    
    
    
    
    for id2 in pr_desc:
        Prod_desc.append(id2.text)
    Prod_desc[:100] 
    
    
    for id3 in price:
        Price.append(id3.text)
    Price[:100] 
    
    
    for id4 in discount:
        Discount.append(id4.text)
    Discount[:100]

In [86]:
Brand_name[:100]

['CRYSTAL CART',
 'ROYAL SON',
 'SDEEP',
 'SRPM',
 'ROADWAY',
 'Fastrack',
 'Douceur',
 'HK ENTERPRISE',
 'SRPM',
 'Elligator',
 'HK ENTERPRISE',
 'HK ENTERPRISE',
 'iCopertina',
 'Sheomy Fashion',
 'Fastrack',
 'Elligator',
 'john jacobs',
 'john jacobs',
 'Hashtag eyewear',
 'DEIXELS',
 'ROZZETTA CRAFT',
 'OAKLEY',
 'Fastrack',
 'iCopertina',
 'halfmoon',
 'PIRASO',
 'ROYAL SON',
 'ROYAL SON',
 'Mayhem',
 'VINCENT CHASE',
 'john jacobs',
 'john jacobs',
 'Elligator',
 'Elligator',
 'METRONAUT',
 'iCopertina',
 'john jacobs',
 'john jacobs',
 'ROADWAY',
 'ROADWAY',
 'CRYSTAL CART',
 'ROYAL SON',
 'SDEEP',
 'SRPM',
 'ROADWAY',
 'Fastrack',
 'Douceur',
 'HK ENTERPRISE',
 'SRPM',
 'Elligator',
 'HK ENTERPRISE',
 'HK ENTERPRISE',
 'iCopertina',
 'Sheomy Fashion',
 'Fastrack',
 'Elligator',
 'john jacobs',
 'john jacobs',
 'Hashtag eyewear',
 'DEIXELS',
 'ROZZETTA CRAFT',
 'OAKLEY',
 'Fastrack',
 'iCopertina',
 'halfmoon',
 'PIRASO',
 'ROYAL SON',
 'ROYAL SON',
 'Mayhem',
 'VINCENT CHASE',
 'john jacobs',
 'john jacobs',
 'Elligator',
 'Elligator',
 'METRONAUT',
 'iCopertina',
 'john jacobs',
 'john jacobs',
 'ROADWAY',
 'ROADWAY',
 'CRYSTAL CART',
 'ROYAL SON',
 'SDEEP',
 'SRPM',
 'ROADWAY',
 'Fastrack',
 'Douceur',
 'HK ENTERPRISE',
 'SRPM',
 'Elligator',
 'HK ENTERPRISE',
 'HK ENTERPRISE',
 'iCopertina',
 'Sheomy Fashion',
 'Fastrack',
 'Elligator',
 'john jacobs',
 'john jacobs',
 'Hashtag eyewear',
 'DEIXELS']

In [87]:
print(len(Brand_name[:100]))

100

In [88]:
Prod_desc[:100]

['Polarized, UV Protection, Gradient, Riding Glasses Rect...',
 'UV Protection Rectangular, Retro Square Sunglasses (58)',
 'UV Protection, Others Spectacle Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection Wayfarer, Sports, Spectacle , Retro Squar...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Mirrored, UV Protection Aviator Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection Cat-eye, Retro Square, Oval, Round Sungla...',
 'Mirrored, UV Protection Aviator Sunglasses (58)',
 'Mirrored, UV Protection Aviator Sunglasses (58)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Mirrored Rectangular Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (58)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Retro Square Sunglasses (51)',
 'Polarized, UV Protection Round Sunglasses (48)',
 'Polarized, UV Protection, Riding Glasses Wayfarer Sungl...',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'Encoder Rectangular Sunglass',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Gradient, Riding Glasses Retro Square Su...',
 'UV Protection Retro Square Sunglasses (52)',
 'Polarized, UV Protection Retro Square Sunglasses (62)',
 'Polarized, UV Protection Retro Square Sunglasses (61)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Wayfarer Sunglasses (59)',
 'UV Protection Aviator Sunglasses (59)',
 'UV Protection Retro Square Sunglasses (52)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Sunglass',
 'UV Protection Spectacle Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (55)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Polarized, UV Protection, Gradient, Riding Glasses Rect...',
 'UV Protection Rectangular, Retro Square Sunglasses (58)',
 'UV Protection, Others Spectacle Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection Wayfarer, Sports, Spectacle , Retro Squar...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Mirrored, UV Protection Aviator Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection Cat-eye, Retro Square, Oval, Round Sungla...',
 'Mirrored, UV Protection Aviator Sunglasses (58)',
 'Mirrored, UV Protection Aviator Sunglasses (58)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Mirrored Rectangular Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (58)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Retro Square Sunglasses (51)',
 'Polarized, UV Protection Round Sunglasses (48)',
 'Polarized, UV Protection, Riding Glasses Wayfarer Sungl...',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'Encoder Rectangular Sunglass',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Gradient, Riding Glasses Retro Square Su...',
 'UV Protection Retro Square Sunglasses (52)',
 'Polarized, UV Protection Retro Square Sunglasses (62)',
 'Polarized, UV Protection Retro Square Sunglasses (61)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Wayfarer Sunglasses (59)',
 'UV Protection Aviator Sunglasses (59)',
 'UV Protection Retro Square Sunglasses (52)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Sunglass',
 'UV Protection Spectacle Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (55)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Polarized, UV Protection, Gradient, Riding Glasses Rect...',
 'UV Protection Rectangular, Retro Square Sunglasses (58)',
 'UV Protection, Others Spectacle Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection Wayfarer, Sports, Spectacle , Retro Squar...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Mirrored, UV Protection Aviator Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection Cat-eye, Retro Square, Oval, Round Sungla...',
 'Mirrored, UV Protection Aviator Sunglasses (58)',
 'Mirrored, UV Protection Aviator Sunglasses (58)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Mirrored Rectangular Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (58)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Retro Square Sunglasses (51)',
 'Polarized, UV Protection Round Sunglasses (48)',
 'Polarized, UV Protection, Riding Glasses Wayfarer Sungl...',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'Encoder Rectangular Sunglass',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Gradient, Riding Glasses Retro Square Su...',
 'UV Protection Retro Square Sunglasses (52)',
 'Polarized, UV Protection Retro Square Sunglasses (62)',
 'Polarized, UV Protection Retro Square Sunglasses (61)']

In [94]:
 Price[:100]

['₹379',
 '₹497',
 '₹185',
 '₹204',
 '₹294',
 '₹519',
 '₹599',
 '₹799',
 '₹207',
 '₹179',
 '₹789',
 '₹798',
 '₹199',
 '₹199',
 '₹699',
 '₹214',
 '₹3,134',
 '₹6,000',
 '₹699',
 '₹199',
 '₹397',
 '₹7,199',
 '₹539',
 '₹199',
 '₹198',
 '₹252',
 '₹899',
 '₹664',
 '₹1,299',
 '₹569',
 '₹2,089',
 '₹2,089',
 '₹306',
 '₹168',
 '₹249',
 '₹199',
 '₹2,375',
 '₹2,375',
 '₹219',
 '₹285',
 '₹379',
 '₹497',
 '₹185',
 '₹204',
 '₹294',
 '₹519',
 '₹599',
 '₹799',
 '₹207',
 '₹179',
 '₹789',
 '₹798',
 '₹199',
 '₹199',
 '₹699',
 '₹214',
 '₹3,134',
 '₹6,000',
 '₹699',
 '₹199',
 '₹397',
 '₹7,199',
 '₹539',
 '₹199',
 '₹198',
 '₹252',
 '₹899',
 '₹664',
 '₹1,299',
 '₹569',
 '₹2,089',
 '₹2,089',
 '₹306',
 '₹168',
 '₹249',
 '₹199',
 '₹2,375',
 '₹2,375',
 '₹219',
 '₹285',
 '₹379',
 '₹497',
 '₹185',
 '₹204',
 '₹294',
 '₹519',
 '₹599',
 '₹799',
 '₹207',
 '₹179',
 '₹789',
 '₹798',
 '₹199',
 '₹199',
 '₹699',
 '₹214',
 '₹3,134',
 '₹6,000',
 '₹699',
 '₹199']

In [97]:
print(len(Price[:100]),len(Prod_desc[:100]),len(Brand_name[:100]))

100 100 100

In [91]:
Discount[:100]

['74% off',
 '66% off',
 '80% off',
 '84% off',
 '77% off',
 '42% off',
 '40% off',
 '81% off',
 '84% off',
 '70% off',
 '81% off',
 '81% off',
 '80% off',
 '55% off',
 '36% off',
 '78% off',
 '47% off',
 '36% off',
 '66% off',
 '80% off',
 '49% off',
 '40% off',
 '80% off',
 '80% off',
 '84% off',
 '55% off',
 '55% off',
 '31% off',
 '71% off',
 '58% off',
 '65% off',
 '87% off',
 '87% off',
 '80% off',
 '80% off',
 '47% off',
 '47% off',
 '78% off',
 '78% off',
 '74% off',
 '66% off',
 '80% off',
 '84% off',
 '77% off',
 '42% off',
 '40% off',
 '81% off',
 '84% off',
 '70% off',
 '81% off',
 '81% off',
 '80% off',
 '55% off',
 '36% off',
 '78% off',
 '47% off',
 '36% off',
 '66% off',
 '80% off',
 '49% off',
 '40% off',
 '80% off',
 '80% off',
 '84% off',
 '55% off',
 '55% off',
 '31% off',
 '71% off',
 '58% off',
 '65% off',
 '87% off',
 '87% off',
 '80% off',
 '80% off',
 '47% off',
 '47% off',
 '78% off',
 '78% off',
 '74% off',
 '66% off',
 '80% off',
 '84% off',
 '77% off',
 '42% off',
 '40% off',
 '81% off',
 '84% off',
 '70% off',
 '81% off',
 '81% off',
 '80% off',
 '55% off',
 '36% off',
 '78% off',
 '47% off',
 '36% off',
 '66% off',
 '80% off',
 '49% off',
 '40% off']

In [104]:
#creating Dataframe for the sunglasses from flipkart

import pandas as pd

sunglass=pd.DataFrame({})
sunglass['Brand_name']=Brand_name[:100]
sunglass['Price']=Price[:100]
sunglass['Product_desc']=Prod_desc[:100]
sunglass['Discount']=Discount[:100]

#dfsunglass=pd.DataFrame[{'Brandname': Brand_name[:100],'Product_desc': Prod_desc[:100],'Price': Price[:100]}]

In [106]:
#displaying the 100 datas results
sunglass

,Brand_name,Price,Product_desc,Discount
0,CRYSTAL CART,₹379,"Polarized, UV Protection, Gradient, Riding Gla...",74% off
1,ROYAL SON,₹497,"UV Protection Rectangular, Retro Square Sungla...",66% off
2,SDEEP,₹185,"UV Protection, Others Spectacle Sunglasses (Fr...",80% off
3,SRPM,₹204,UV Protection Wayfarer Sunglasses (50),84% off
4,ROADWAY,₹294,"UV Protection Wayfarer, Sports, Spectacle , Re...",77% off
...,...,...,...,...
95,Elligator,₹214,UV Protection Retro Square Sunglasses (Free Size),36% off
96,john jacobs,"₹3,134","UV Protection, Gradient, Riding Glasses Retro ...",66% off
97,john jacobs,"₹6,000",UV Protection Retro Square Sunglasses (52),80% off
98,Hashtag eyewear,₹699,"Polarized, UV Protection Retro Square Sunglass...",49% off
99,DEIXELS,₹199,"Polarized, UV Protection Retro Square Sunglass...",40% off

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market
place=FLIPKART
These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100reviews

In [5]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/p/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZE3ENS&marketplace=FLIPKART&q=iphone+11+black+64&store=tyy%2F4io&srno=s_1_1&otracker=AS_Query_OrganicAutoSuggest_4_13_na_na_ps&otracker1=AS_Query_OrganicAutoSuggest_4_13_na_na_ps&fm=Search&iid=dd21a0e7-fd84-4dcc-bff6-2368424715c5.MOBFWQ6BXGJCEYNY.SEARCH&ppt=sp&ppn=sp&ssid=kuzqnmb7hs0000001691136789476&qH=a7bbd4f518dc07fa")

In [72]:
#for scrapping the number of stars

stars=[]


sta=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')

for j in sta:
    stars.append(j.text)

In [73]:
stars

['5', '3', '5', '5', '5', '5', '3']

# Q6: Scrape data forfirst 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the
search field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. ProductDescription
3. Price
As shown in the below image, you have to scrape the above attributes

In [37]:
#connecting to webdriver
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))

In [38]:
url="https://www.flipkart.com/"
driver.get(url)

In [49]:
#searching for the sneakers
snk=driver.find_element(By.CLASS_NAME,"_3704LK")
snk.send_keys("sneakers")

In [50]:
#clicking on search button

searchflip=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
searchflip.click()

In [55]:
#creating empty list
Brand_name1=[]
Price1=[]
Prod_desc1=[]

In [64]:
for i in range(1,2,3):
    br_name=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    
    pd_desc=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
    price =driver.find_elements(By.XPATH,"//div[@class='_25b18c']")
    
    
    
for j  in br_name:
        Brand_name1.append(j.text)
        Brand_name1    
        
for k in pd_desc:
    Prod_desc1.append(k.text)
    Prod_desc1 
    
for l in price:
    Price1.append(l.text)
    Price1

In [74]:
 Brand_name1[:100]

['BRUTON',
 'K- FOOTLANCE',
 'aadi',
 'URBANBOX',
 'BRUTON',
 'JACK & JONES',
 'BIRDE',
 'kardam&sons',
 'Nobelite',
 'LE GREEM',
 'HOTSTYLE',
 'K- FOOTLANCE',
 'RED TAPE',
 'Sparx',
 'U.S. POLO ASSN.',
 'aadi',
 'HOTSTYLE',
 'kardam&sons',
 'BIRDE',
 'U.S. POLO ASSN.',
 'RapidBox',
 'ATOM',
 'LE GREEM',
 'RED TAPE',
 'PUMA',
 'Kraasa',
 'ADIDAS',
 'RapidBox',
 'PUMA',
 'ADIDAS',
 'asian',
 'kardam&sons',
 'Mast & Harbour',
 'aadi',
 'HIGHLANDER',
 'PUMA',
 'RapidBox',
 'RapidBox',
 'Kraasa',
 'HIGHLANDER',
 'BRUTON',
 'K- FOOTLANCE',
 'aadi',
 'URBANBOX',
 'BRUTON',
 'JACK & JONES',
 'BIRDE',
 'kardam&sons',
 'Nobelite',
 'LE GREEM',
 'HOTSTYLE',
 'K- FOOTLANCE',
 'RED TAPE',
 'Sparx',
 'U.S. POLO ASSN.',
 'aadi',
 'HOTSTYLE',
 'kardam&sons',
 'BIRDE',
 'U.S. POLO ASSN.',
 'RapidBox',
 'ATOM',
 'LE GREEM',
 'RED TAPE',
 'PUMA',
 'Kraasa',
 'ADIDAS',
 'RapidBox',
 'PUMA',
 'ADIDAS',
 'asian',
 'kardam&sons',
 'Mast & Harbour',
 'aadi',
 'HIGHLANDER',
 'PUMA',
 'RapidBox',
 'RapidBox',
 'Kraasa',
 'HIGHLANDER',
 'BRUTON',
 'K- FOOTLANCE',
 'aadi',
 'URBANBOX',
 'BRUTON',
 'JACK & JONES',
 'BIRDE',
 'kardam&sons',
 'Nobelite',
 'LE GREEM',
 'HOTSTYLE',
 'K- FOOTLANCE',
 'RED TAPE',
 'Sparx',
 'U.S. POLO ASSN.',
 'aadi',
 'HOTSTYLE',
 'kardam&sons',
 'BIRDE',
 'U.S. POLO ASSN.']

In [65]:
print(len(Brand_name1[:100])),print(len(Price1[:100])),print(len(Prod_desc1[:100]))

100
100
100

(None, None, None)

# Q7: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then
set CPU Type filter to “Intel Core i7” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [75]:
#connecting to webdriver
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))

In [76]:
#fetching url
url2=("https://www.amazon.in/")
driver.get(url2)

In [78]:
#searching for the laptops 
lap=driver.find_element(By.XPATH,"//input[@type='text']")
lap.send_keys("laptop")

In [83]:
#SEARCH CLICK
#search_1=driver.find_elements(By.XPATH,"//input[@id='nav-search-submit-button']")


#search1=driver.find_element(By.CLASS_NAME,"nav-input nav-progressive-attribute")
#earch_1.click()

In [86]:
search_btn=driver.find_elements(By.XPATH,"//input[@id='nav-search-submit-button']")
search_btn

In [21]:
search_btn=driver.find_elements(By.XPATH,"//input[@id='nav-search-submit-button']")
search_btn.click()

In [99]:
Title=[]
Price=[]
Ratings=[]


for i in range(1,2,3):
    tit=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
    rat=driver.find_elements(By.XPATH,'//i[@class="a-icon a-icon-star-small a-star-small-4 aok-align-bottom"]')
    pri=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
                                                                                 
for j  in tit:
    Title.append(j.text)
    Title
for k in rat:
    Ratings.append(k.text)
    Ratings
for l in pri:
        Price.append(l.text)
        Price

# Q8: Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1. First get the webpagehttps://www.azquotes.com/
2. Click on TopQuotes
3. Than scrap a) Quote b) Author c) Type Of Quotes

In [7]:
#connecting to webdriver
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))

In [5]:
driver.get("https://www.azquotes.com/")

In [6]:

#Click on Top Quotes

search_button=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a")
                                  
search_button.click()

In [18]:
quotes=[]
start=0
end=10
for page in range(start,end):
    tit=driver.find_elements(By.XPATH,'//a[@class="title"]')

for i in tit:
    quotes.append(i.text)

In [27]:
author=[]
typequote=[]

aut=driver.find_elements(By.XPATH,'//div[@class="author"]')

for j in aut:
    author.append(j.text)
    
typ=driver.find_elements(By.XPATH,'//div[@class="tags"]')
    
for k in typ:
    typequote.append(k.text)

In [22]:
quotes[:20]

['The essence of strategy is choosing what not to do.',
 'One cannot and must not try to erase the past merely because it does not fit the present.',
 'Patriotism means to stand by the country. It does not mean to stand by the president.',
 'Death is something inevitable. When a man has done what he considers to be his duty to his people and his country, he can rest in peace. I believe I have made that effort and that is, therefore, why I will sleep for the eternity.',
 'You have to love a nation that celebrates its independence every July 4, not with a parade of guns, tanks, and soldiers who file by the White House in a show of strength and muscle, but with family picnics where kids throw Frisbees, the potato salad gets iffy, and the flies die from happiness. You may think you have overeaten, but it is patriotism.',
 'Be more concerned with your character than your reputation, because your character is what you really are, while your reputation is merely what others think you are.',
 'Weak people revenge. Strong people forgive. Intelligent People Ignore.',
 "A mind is like a parachute. It doesn't work if it is not open.",
 'Never be afraid to raise your voice for honesty and truth and compassion against injustice and lying and greed. If people all over the world...would do this, it would change the earth.',
 'There are three kinds of men. The one that learns by reading. The few who learn by observation. The rest of them have to pee on the electric fence for themselves.',
 "A strong nation, like a strong person, can afford to be gentle, firm, thoughtful, and restrained. It can afford to extend a helping hand to others. It's a weak nation, like a weak person, that must behave with bluster and boasting and rashness and other signs of insecurity.",
 'The difference between stupidity and genius is that genius has its limits.',
 'We the people are the rightful masters of both Congress and the courts, not to overthrow the Constitution but to overthrow the men who pervert the Constitution.',
 'With or without religion, you would have good people doing good things and evil people doing evil things. But for good people to do evil things, that takes religion.',
 'Human kindness has never weakened the stamina or softened the fiber of a free people. A nation does not have to be cruel to be tough.',
 'A person who never made a mistake never tried anything new.',
 'My mission in life is not merely to survive, but to thrive; and to do so with some passion, some compassion, some humor, and some style',
 'Life is short, Break the Rules. Forgive quickly, Kiss slowly. Love truly. Laugh uncontrollably And never regret ANYTHING That makes you smile.',
 'This country will not be a good place for any of us to live in unless we make it a good place for all of us to live in.',
 'In a world filled with hate, we must still dare to hope. In a world filled with anger, we must still dare to comfort. In a world filled with despair, we must still dare to dream. And in a world filled with distrust, we must still dare to believe.']

In [25]:
print(len(author))

100

In [26]:
author[1:10]

['Golda Meir',
 'Theodore Roosevelt',
 'Nelson Mandela',
 'Erma Bombeck',
 'John Wooden',
 'Albert Einstein',
 'Frank Zappa',
 'William Faulkner',
 'Will Rogers']

In [28]:
typequote[1:10]

['Inspiration, Past, Trying',
 'Country, Peace, War',
 'Inspirational, Motivational, Death',
 '4th Of July, Food, Patriotic',
 'Inspirational, Success, Basketball',
 'Strong, Revenge, Intelligent',
 'Inspirational, Teacher, Religious',
 'Truth, Honesty, Lying',
 'Funny, Reading, Learning']

In [29]:
print(len(typequote))

100

# Q9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead,
Term of office, Remarks) from https://www.jagranjosh.com/.
This task will be done in following steps:
1. First get the webpagehttps://www.jagranjosh.com/
2. Then You have to click on the GK option
3. Then click on the List of all Prime Ministers of India
4. Then scrap the mentioned data and make theDataFrame.

In [33]:
#connecting to webdriver
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))

In [34]:
#connecting to website
driver.get("https://www.jagranjosh.com/")

In [42]:
#click gk seaerch button
gkbutton=driver.find_element(By.XPATH,'//*[@id="1675771483529"]/section/div/ul/li[1]/span/b/a')
gkbutton.click()

In [49]:
#search and click all pm of india
#pmlist=driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a')
pmlist=driver.find_element(By.XPATH,'//*[@id="popluarGK"]/ul/li[2]/a')
pmlist.click()

In [52]:
#scraping datas for name birthdeath,term of office and remarks
names=[]
birth_death=[]
terms=[]
remarks=[]

name = driver.find_elements(By.XPATH,'//div[@class=\"table-box\"]/table/tbody/tr/td[2]/p')

for i in name:
    names.append(i.text)

In [53]:
names

['Jawahar Lal Nehru',
 'Gulzarilal Nanda (Acting)',
 'Lal Bahadur Shastri',
 'Gulzari Lal Nanda  (Acting)',
 'Indira Gandhi',
 'Morarji Desai',
 'Charan Singh',
 'Indira Gandhi',
 'Rajiv Gandhi',
 'V. P. Singh',
 'Chandra Shekhar',
 'P. V. Narasimha Rao',
 'Atal Bihari Vajpayee',
 'H. D. Deve Gowda',
 'Inder Kumar Gujral',
 'Atal Bihari Vajpayee',
 'Manmohan Singh',
 'Narendra Modi',
 'Narendra Modi']

In [56]:

bd = driver.find_elements(By.XPATH,'//div[@class=\"table-box\"]/table/tbody/tr/td[3]/p')

for j in bd: 
    birth_death.append(j.text)
    
#terms_of_office
tof = driver.find_elements(By.XPATH,'//div[@class=\"table-box\"]/table/tbody/tr/td[4]')

for k in tof:    
    terms.append(k.text.replace('\\n', ''))
                 
#Remarks
                 
rem=driver.find_elements(By.XPATH,'//div[@class=\"table-box\"]/table/tbody/tr/td[5]/p')
                 
for l in rem:
                 remarks.append(l.text)

In [58]:
birth_death

['(1889–1964)',
 '(1898-1998)',
 '(1904–1966)',
 '(1898-1998)',
 '(1917–1984)',
 '(1896–1995)',
 '(1902–1987)',
 '(1917–1984)',
 '(1944–1991)',
 '(1931–2008)',
 '(1927–2007)',
 '(1921–2004)',
 '(1924- 2018)',
 '(born 1933)',
 '(1919–2012)',
 '(1924-2018)',
 '(born 1932)',
 '(born 1950)',
 '(born 1950)']

In [59]:
terms

['15 August 1947 to 27 May 1964\n16 years, 286 days',
 '27 May 1964 to 9 June 1964,\n13 days',
 '9 June 1964 to 11 January 1966\n1 year, 216 days',
 '11 January 1966 to 24 January 1966\n13 days',
 '24 January 1966 to 24 March 1977\n11 years, 59 days',
 '24 March 1977 to  28 July 1979 \n2 year, 126 days',
 '28 July 1979 to 14 January 1980\n170 days',
 '14 January 1980 to 31 October 1984\n4 years, 291 days',
 '31 October 1984 to 2 December 1989\n5 years, 32 days',
 '2 December 1989 to 10 November 1990\n343 days',
 '10 November 1990 to 21 June 1991\n223 days',
 '21 June 1991 to 16 May 1996\n4 years, 330 days',
 '16 May 1996 to 1 June 1996\n16 days',
 '1 June 1996 to 21 April 1997\n324 days',
 '21 April 1997 to 19 March 1998 \n332 days',
 '19 March 1998 to 22 May 2004 \n6 years, 64 days',
 '22 May 2004 to 26 May 2014   \n10 years, 4 days',
 '26 May 2014 - 2019',
 '30 May 2019- Incumbent']

In [60]:
remarks

['The first prime minister of India and the longest-serving PM of India, the first to die in office.',
 'First acting PM of India',
 "He has given the slogan of 'Jai Jawan Jai Kisan' during the Indo-Pak war of 1965",
 '-',
 'First female Prime Minister of India',
 'Oldest to become PM (81 years old) and first to resign from office',
 'Only PM who did not face the Parliament',
 'The first lady who served as PM for the second term',
 'Youngest to become PM (40 years old)',
 'First PM to step down after a vote of no confidence',
 'He belongs to  Samajwadi Janata Party',
 'First PM from South India',
 'PM for shortest tenure',
 'He belongs to  Janata Dal',
 '------',
 ' The first non-congress PM who completed a full term as PM',
 ' First Sikh PM',
 '4th Prime Minister of India who served two consecutive tenures',
 'First non-congress PM with two consecutive tenures']

In [64]:
import pandas as pd
pmlist=pd.DataFrame({'PM _names':names,'Birth_death':birth_death,'Term_of_office':terms,'Remarks':remarks})
pmlist

,PM _names,Birth_death,Term_of_office,Remarks
0,Jawahar Lal Nehru,(1889–1964),"15 August 1947 to 27 May 1964\n16 years, 286 days",The first prime minister of India and the long...
1,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964,\n13 days",First acting PM of India
2,Lal Bahadur Shastri,(1904–1966),"9 June 1964 to 11 January 1966\n1 year, 216 days",He has given the slogan of 'Jai Jawan Jai Kisa...
3,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 1966\n13 days,-
4,Indira Gandhi,(1917–1984),"24 January 1966 to 24 March 1977\n11 years, 59...",First female Prime Minister of India
5,Morarji Desai,(1896–1995),"24 March 1977 to 28 July 1979 \n2 year, 126 days",Oldest to become PM (81 years old) and first t...
6,Charan Singh,(1902–1987),28 July 1979 to 14 January 1980\n170 days,Only PM who did not face the Parliament
7,Indira Gandhi,(1917–1984),"14 January 1980 to 31 October 1984\n4 years, 2...",The first lady who served as PM for the second...
8,Rajiv Gandhi,(1944–1991),"31 October 1984 to 2 December 1989\n5 years, 3...",Youngest to become PM (40 years old)
9,V. P. Singh,(1931–2008),2 December 1989 to 10 November 1990\n343 days,First PM to step down after a vote of no confi...
10,Chandra Shekhar,(1927–2007),10 November 1990 to 21 June 1991\n223 days,He belongs to Samajwadi Janata Party
11,P. V. Narasimha Rao,(1921–2004),"21 June 1991 to 16 May 1996\n4 years, 330 days",First PM from South India
12,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 1996\n16 days,PM for shortest tenure
13,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997\n324 days,He belongs to Janata Dal
14,Inder Kumar Gujral,(1919–2012),21 April 1997 to 19 March 1998 \n332 days,------
15,Atal Bihari Vajpayee,(1924-2018),"19 March 1998 to 22 May 2004 \n6 years, 64 days",The first non-congress PM who completed a ful...
16,Manmohan Singh,(born 1932),"22 May 2004 to 26 May 2014 \n10 years, 4 days",First Sikh PM
17,Narendra Modi,(born 1950),26 May 2014 - 2019,4th Prime Minister of India who served two con...
18,Narendra Modi,(born 1950),30 May 2019- Incumbent,First non-congress PM with two consecutive ten...

# Q10: Write a python program to display list of 50 Most expensive cars in the world (i.e.
Car name and Price) from https://www.motor1.com/
This task will be done in following steps:
1. First get the webpagehttps://www.motor1.com/
2. Then You have to type in the search bar ’50 most expensive cars’
3. Then click on 50 most expensive carsin the world..
4. Then scrap the mentioned data and make the dataframe.

In [65]:

#connecting to webdriver
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))

In [66]:
#go to url
driver.get("https://www.motor1.com/")

In [67]:
#go and search with keywords

search=driver.find_element(By.XPATH,'//input[@class="m1-search-panel-input m1-search-form-text"]')

search.send_keys("50 most expensive cars")

In [69]:
#search and click 
se_cli=driver.find_element(By.XPATH,'//button[@class="m1-search-panel-button m1-search-form-button-animate icon-search-svg"]')
se_cli.click()

In [70]:
#clicking in the listing of 50 most exp cars in world by jeff perez

listing=driver.find_element(By.XPATH,'/html/body/div[10]/div[9]/div/div[1]/div/div/div[2]/div/div[1]/h3/a')
listing.click()

In [74]:
car_names=[]

car=driver.find_elements(By.XPATH,'//h3[@class="subheader"]')

for i in car:
    car_names.append(i.text)

In [75]:
car_names

['De Tomaso P72',
 'Ferrari LaFerrari',
 'Pagani Huayra',
 'McLaren Elva',
 'Czinger 21C',
 'Ferrari Monza',
 'Gordon Murray T.33',
 'Koenigsegg Gemera',
 'Zenvo TSR-S',
 'Hennessey Venom F5',
 'Bentley Bacalar',
 'Hispano Suiza Carmen Boulogne',
 'Bentley Mulliner Batur',
 'Deus Vayanne',
 'SSC Tuatara',
 'Lotus Evija',
 'Aston Martin Vulcan',
 'Delage D12',
 'McLaren Speedtail',
 'Rimac Nevera',
 'Pagani Utopia',
 'Pininfarina Battista',
 'Ferrari FXX K Evo',
 'Gordon Murray T.50',
 'Lamborghini Countach',
 'Mercedes-AMG Project One',
 'Aston Martin Victor',
 'Hennessey Venom F5 Roadster',
 'Koenigsegg Jesko',
 'Aston Martin Valkyrie',
 'W Motors Lykan Hypersport',
 'McLaren Solus',
 'Pagani Huayra Roadster BC',
 'Bugatti Chiron Pur Sport',
 'Lamborghini Sian',
 'Koenigsegg CC850',
 'Bugatti Chiron Super Sport 300+',
 'Lamborghini Veneno',
 'Bugatti Bolide',
 'Bugatti Mistral',
 'Pagani Huayra Imola',
 'Bugatti Divo',
 'SP Automotive Chaos',
 'Pagani Codalunga',
 'Mercedes-Maybach Exelero',
 'Bugatti Centodieci',
 'Bugatti Chiron Profilée',
 'Rolls-Royce Sweptail',
 'Bugatti La Voiture Noire',
 'Rolls-Royce Boat Tail*',
 'Most Expensive Cars In The World']

In [76]:
print(len(car_names))

51

In [79]:
prices = []
expcars = driver.find_elements(By.XPATH,"//strong")
                                        
for j in expcars:
                               prices.append(j.text)

In [80]:
prices

['Price: $1.3 Million',
 'Price: $1.4 Million',
 'Price: $1.4 Million',
 '',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.8 Million',
 'Price: $1.9 Million',
 'Price: $1.9 Million',
 'Price: $2.0 Million',
 'Price: $2.0 Million',
 'Price: $2.0 Million*',
 'Price: $2.1 Million',
 'Price: $2.3 Million',
 'Price: $2.3 Million',
 'Price: $2.3 Million',
 'Price: $2.4 Million',
 'Price: $2.5 Million',
 'Price: $2.5 Million',
 'Price: $2.6 Million',
 'Price: $2.6 Million',
 'Price: $2.6 Million',
 'Price: $2.7 Million',
 'Price: $3.0 Million',
 '$3.0 Million',
 'Price: $3.0 Million',
 'Price: $3.2 Million',
 'Price: $3.4 Million',
 '$3.5 Million',
 'Price: $3.5 Million',
 'Price: $3.6 Million',
 'Price: $3.6 million',
 'Price: $3.7 Million',
 'Price: $3.9 Million',
 'Price: $4.5 Million',
 'Price: $4.7 Million',
 'Price: $5.0 Million',
 'Price: $5.4 Million',
 'Price: $5.8 Million',
 'Price: $6.4 Million',
 'Price: $7.4 Million',
 'Price: $8.0 Million',
 'Price: $9.0 Million',
 'Price: $10.8 Million',
 'Price: $12.8 Million',
 'Price: $13.4 Million',
 'Price: $28.0 Million (est.)']

In [81]:
print(len(prices))

51

In [82]:
import pandas as pd
carlist=pd.DataFrame({'Expensivecar_names':car_names,'Pricesin$':prices})
carlist

                  Expensivecar_names                    Pricesin$
0                      De Tomaso P72          Price: $1.3 Million
1                  Ferrari LaFerrari          Price: $1.4 Million
2                      Pagani Huayra          Price: $1.4 Million
3                       McLaren Elva
4                        Czinger 21C          Price: $1.7 Million
5                      Ferrari Monza          Price: $1.7 Million
6                 Gordon Murray T.33          Price: $1.7 Million
7                  Koenigsegg Gemera          Price: $1.7 Million
8                        Zenvo TSR-S          Price: $1.7 Million
9                 Hennessey Venom F5          Price: $1.7 Million
10                   Bentley Bacalar          Price: $1.8 Million
11     Hispano Suiza Carmen Boulogne          Price: $1.9 Million
12            Bentley Mulliner Batur          Price: $1.9 Million
13                      Deus Vayanne          Price: $2.0 Million
14                       SSC Tuatara          Price: $2.0 Million
15                       Lotus Evija         Price: $2.0 Million*
16               Aston Martin Vulcan          Price: $2.1 Million
17                        Delage D12          Price: $2.3 Million
18                 McLaren Speedtail          Price: $2.3 Million
19                      Rimac Nevera          Price: $2.3 Million
20                     Pagani Utopia          Price: $2.4 Million
21              Pininfarina Battista          Price: $2.5 Million
22                 Ferrari FXX K Evo          Price: $2.5 Million
23                Gordon Murray T.50          Price: $2.6 Million
24              Lamborghini Countach          Price: $2.6 Million
25          Mercedes-AMG Project One          Price: $2.6 Million
26               Aston Martin Victor          Price: $2.7 Million
27       Hennessey Venom F5 Roadster          Price: $3.0 Million
28                  Koenigsegg Jesko                 $3.0 Million
29             Aston Martin Valkyrie          Price: $3.0 Million
30         W Motors Lykan Hypersport          Price: $3.2 Million
31                     McLaren Solus          Price: $3.4 Million
32         Pagani Huayra Roadster BC                 $3.5 Million
33          Bugatti Chiron Pur Sport          Price: $3.5 Million
34                  Lamborghini Sian          Price: $3.6 Million
35                  Koenigsegg CC850          Price: $3.6 million
36   Bugatti Chiron Super Sport 300+          Price: $3.7 Million
37                Lamborghini Veneno          Price: $3.9 Million
38                    Bugatti Bolide          Price: $4.5 Million
39                   Bugatti Mistral          Price: $4.7 Million
40               Pagani Huayra Imola          Price: $5.0 Million
41                      Bugatti Divo          Price: $5.4 Million
42               SP Automotive Chaos          Price: $5.8 Million
43                  Pagani Codalunga          Price: $6.4 Million
44          Mercedes-Maybach Exelero          Price: $7.4 Million
45                Bugatti Centodieci          Price: $8.0 Million
46           Bugatti Chiron Profilée          Price: $9.0 Million
47              Rolls-Royce Sweptail         Price: $10.8 Million
48          Bugatti La Voiture Noire         Price: $12.8 Million
49            Rolls-Royce Boat Tail*         Price: $13.4 Million
50  Most Expensive Cars In The World  Price: $28.0 Million (est.)